section {
    position: absolute;
    right: 49%;
    top: 69%;
  }
  #username {
    position: relative;
  right: -39%;
  }
#position{

      font-size: 40px;
}
body {
  background-color: skyblue;
}
.yAxis{
  display: inline-block;
}

.hidden {
  display: none
}

.Usernameinput {
  width: 50%;
  border: 2px white solid;
  height: 200px;
  margin-left: 24%;
  margin-top: 9%;
  background-color: white;

}
#name{
  margin-left: 36%;
margin-top: 6%;
}

.small{
  width: 20%;
  height: 20px;
  background-color: darkblue;
  color: white;
}

.Giant{
  width: 20%;
  height: 20px;
  background-color: brown;
  color: white;
}
#Thisislarge{
  width: 20%;
height: 20px;
background-color: darkblue;
color: white;
}

#Thisisgiant{

    width: 20%;
  height: 20px;
  background-color: darkblue;
  color: white;

}
