section {
    position: absolute;
    right: 49%;
    top: 69%;
  }
  #username {
    position: relative;
  right: -39%;
  }
#position{

      font-size: 40px;
}
body {
  background-color: skyblue;
}
